body {
  margin: 0;
  padding: 0;
  background-color: #fff3e6;
  font-family: Arial, sans-serif; 
}

#pet_filter {
	width: 1000px;
	height: 150px;
	margin-left: 25%;
}
.filter_menu {
	background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 100px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.filter_menu a {
	width: 50px;
  background-color: #ff66b2;
  color: #fff; 
  padding: 10px;
  border-radius: 12px; 
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  font-weight: 600;
  font-size: 1.1em;
}

#card_wrap {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 25px;
  padding: 100px 70px 100px 70px;
}

.card {
  width: calc(25% - 20px); 
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px); 
}

.card img {
	width: 330px;
	height: auto;
  border-radius: 15px; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card > h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #ff3399; 
}

.card > p {
  margin: 5px 0;
}

.card > a {
  display: block;
  background-color: #ff3399;
  color: #fff; 
  padding: 10px;
  border-radius: 12px; 
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.catd > a:hover {
  background-color: #ff66b2; 
}

.paging {
  text-align: center;
  margin-bottom: 60px;
}

.paging img {
  width: 25px;
  height: auto;
  vertical-align: middle;
  margin: 0 5px;
}

.paging a {
  text-decoration: none;
  color: #ff3399;
  font-weight: bold;
  font-size: 16px;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.paging a:hover {
  color: #ff66b2;
}

.paging b {
  font-size: 18px;
  color: #ff3399;
  font-weight: bold;
  margin: 0 5px;
}

.paging a:visited {
  color: #ff66b2;
}
