* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #ff3399;
}

#login_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  height: 650px;
  border: 1px solid #eee;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login_title {
  margin-top: 20px;
  text-align: center;
}

.login_title .desc {
  color: #ff3399;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;
}

.login_title .login_sub_title {
  font-size: 36px;
  color: #ff3399;
  font-weight: 700;
}

.login_form_id,
.login_form_pw {
  text-align: left;
  padding-top: 20px;
  margin-top: 30px;
}

.login_form_id > input,
.login_form_pw > input {
  border: none;
  border-bottom: 2px solid #ff3399;
  outline: none;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: transparent;
  color: #ff3399;
}

.id_save {
  margin-top: 10px;
}

.member_find {
  margin-top: 10px;
  float: right;
}

.login_submit input {
  margin-top: 30px;
  border: none;
  background-color: #ff3399;
  padding: 15px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.login_submit input:hover {
  background-color: #ff66b2;
}

.login_join input {
  margin-top: 10px;
  border: none;
  background-color: transparent;
  padding: 15px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #ff3399;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.login_join input:hover {
  background-color: #ff66b2;
  color: #f9f9f9;
}

